@import './buttons.css';
*{
  margin: 0;
}
.container{
  padding-left: 30px;
  padding-right: 30px;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #f8f9fa;
}
.textWin{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 30px;
}


.title,.subtitle{
  color: #343a40;
}
.title{
  font-size: 50px;
}
.text{
  color: #343a40;
}

.subtitle_color_red{
  color: #dc3545;
}
.level{
  width: 50%;
  margin: auto;
  text-align: end;
  color: #17a2b8;
}
.content{
  width: 70%;
}