*{
  margin: 0;
}
.buttonsBlock, .buttonsBlock__inner, .buttonsBlock__center{
  display: flex;
}
.buttonsBlock{
  justify-content: center;
  margin-bottom: auto;
}
.buttonsBlock__inner{
  flex-direction: column;
  align-items: center;
}
.buttonsBlock__center{
  justify-content: space-between;
}

.container{
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
}

.wrapperCircle {
  position: relative;
  width: 50%;
  height: 300px;
  margin: auto;
  border: solid 1px olivedrab;
}